.git
.gitignore
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.mypy_cache
.ruff_cache

env/
venv/
.env
.env.*
!.env.example

db.sqlite3
db.sqlite3-journal
staticfiles/
*.log

.DS_Store
README*
Dockerfile
docker-compose*.yml
.dockerignore
